<!DOCTYPE html>
<html>
<head>
  <title>El Pasher</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,600' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'shared/config' %>
    <%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
