<!DOCTYPE html>
<html>
<head>
  <title>Pasher</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sign-out-menu">
    <% unless current_user %>
        <%= link_to "Sign in", "/auth/google_login" %>
    <% else %>
      You're logged in as <%= current_user.name %>
      |
      <%= link_to "Sign out", "/sign_out"%>
        <div class='no-display' id='data' data-user-name='<%= current_user.name %>'></div>
    <% end %>
</div>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
