<!DOCTYPE html>
<html>
<head>
  <title>Pasher</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign in", "/auth/google_login" %>
<% if current_user %>
    <%= link_to "Sign out", "/sign_out"%>
    You're logged in as <%= current_user.name %>
    <div class='no-display' id='data' data-user-name='<%= current_user.name %>'></div>
<% end %>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
