<!DOCTYPE html>
<html>
<head>
  <title>El Pasher</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'shared/config' %>
    <%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
